<html>
  <body>

    <ul>
      <li>
        <a target="_blank" href="https://madeline.med.umich.edu/madeline/documentation.php">Madeline Docs</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/piratical/Madeline_2.0_PDE/tree/master/ci/testdata">Test Input Data</a>
      </li>
      <ul>
        <li>
          <a target="_blank" href="https://raw.githubusercontent.com/piratical/Madeline_2.0_PDE/master/ci/testdata/cs_001.data">
             cs_001.data</a> (Cut-n-Paste into Input Data Text Area Below)
        </li>
        <li>
          <a target="_blank" href="https://raw.githubusercontent.com/piratical/Madeline_2.0_PDE/master/ci/testdata/cx_001.data">
             cx_001.data</a> (Cut-n-Paste into Input Data Text Area Below)
        </li>
      </ul>
    </ul>
    <hr/>
    <br/>

    <form target="_blank" method="post" id="main" action="/submit">
    Input Data (Saved as <code>input-data.txt)</code>:
    <br/><br/>

    <textarea form="main" rows="35" cols="110" name="data">
    </textarea>
      <br/>
    <br/>

    Add <code>madeline</code> Command Line Options:
    <br/>
    <textarea form="main" rows="3" cols="110" name="args"></textarea>
    <br/><br/>

      <br/>
      <input type="submit" value="Run madeline2"/> Command will be run as: <code>madeline2 (options) --outputprefix output input-data.txt</code>
    </form>

    <br/><br/>
    <hr/>


<pre>
Usage: madeline2 [option]... [file]...

If input file is remote, specify the file
name starting with 'http://' or 'https://'.
To retrieve the data from a mysql database use
'mysql://[host:port/]username:passwd@database:table'

        --Labels Specify labels to be displayed on the Pedigree using a single string containing space-delimited labels
              -L
            --bw Print pedigrees in black and white
              -b
     --collapsed “Collapse” multiple individuals into groups (requires “Collapsed” data column)
              -k
         --color Print pedigrees in color
              -c
--custom-icon-colors Specify a comma- and semicolon-delimited list of custom icon shading color codes in HTML/CSS hex format.
              -C
         --debug Print run-time progress messages
              -d
      --embedded Produce an XML file that can be embedded in another XML document
              -e
          --font Font to be used for the display of Pedigree labels
              -f
     --font-size Font size to be used for the display of Pedigree labels
              -z
          --help Print this help and exit
              -h
        --labels Path to the file that has a list of labels to be displayed on the Pedigree
              -l
  --noiconlabels Prevent the printing of affection status labels on the icons
              -n
--nolabeltruncation Prevent truncation of labels on a drawing when they are too wide.
              -N
--outputdatatable Output the pedigree input data file (column order preserved) as a tab-delimited file with name 'FAMILY_IDinput.txt'
              -I
     --outputext Specify output file name extension
              -x
--outputpedtable Output the pedigree core/non-core fields as a tab-delimited file with name 'FAMILY_IDinput.txt'
              -i
  --outputprefix Specify output file name prefix
              -o
--quadrantshading Use the quadrant shading method to indicate categorical levels on icons
              -q
      --scalable Make the SVG output scalable
              -S
          --sort Field based on which siblings are sorted
              -s
       --version Print version and exit
              -v
</pre>
  </body>
</html>
